.buy-btn {
    padding-top: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    color: $text-color;
    text-transform: uppercase;
    border: 2px solid $text-color;
    padding-bottom: 18px;
    margin-left: 13%;
    margin-right: 13%;
}
