.develop {
    text-align: center;
}

.develop__text {
    font-family: $main-font;
    color: $first-color;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
}

.develop__link {
    font-size: 0px;
}
