.page-main {
    padding-bottom: 60px;
}

.page-main__title {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f1f1f1;
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    color: $first-color;
    font-size: 27px;
    line-height: 30px;
    margin: 0px;
}

.page-main__desc {
    padding: 30px 9%;
    font-family: $main-font;
    color: $text-color;
    font-size: 13px;
    line-height: 24px;
}
