.product {
    border: 1px solid #ededed;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.product__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 16px;
    text-align: left;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: $first-color;
    text-decoration: none;
}

.product__desc {
    font-family: $main-font;
    font-size: 13px;
    line-height: 30px;
    color: $text-color;
    text-align: left;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom:28px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ececec;
}

.product__price {
    font-family: $main-font;
    font-size: 15px;
    line-height: 24px;
    color: $first-color;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    text-decoration: none;
}
